// .board-row:after {
//     clear: both;
//     content: '';
//     display: table;
//   }
.board {
  display: grid;
  justify-content: center;
  // min-height: 75dvh;
  // max-height: 85dvh;
  min-width: 100dvw;
  // overflow: hidden;
  // border-radius: 2px;
  // border-color: red;
  // border-style: solid;
}
.board-wrapper {
  // display: grid;
  // justify-content: center;
  // min-height: 75dvh;
  max-height: 75dvh;
  // min-width: 100dvw;
  overflow: hidden;
  // border-radius: 2px;
  // border-color: red;
  // border-style: solid;
}
.board-row {
  display: flex;
}
