// .board-row:after {
//     clear: both;
//     content: '';
//     display: table;
//   }
.board {
  display: grid;
  justify-content: center;
  max-height: 75dvh;
  max-width: 100dvh;
  overflow: hidden;
}
.board-row {
  display: flex;
}
