#root {
  // max-width: 1280px;
  margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
}

// $theme-colors: (
//   "primary": #6f42c1,
//   'info': tomato,
//   'danger': teal
// );
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $secondary;
  display: flex;
  
  min-width: 100dvw;
  min-height: 100dvh;
  text-align: center;
}
